@define-color primary_color #FFF;
@define-color secondary_color rgba(0, 0, 0, 0.85);
@define-color tertiary_color #585B70;
@define-color accent_color #2D6349;
@define-color powerbutton #F38BA8;


@keyframes blink-accent {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    70% {
        opacity: 1;
        color: @accent_color;
    }

    100% {
        opacity: 1;
        color: @accent_color;
    }
}

window#waybar {
    font-family: 'JetBrainsMono Nerd Font', Cantarell, Symbols Nerd Font;
    font-weight: normal;
    font-size: 14px;
    color: @primary_color;
    background-color: @secondary_color;
    transition: background-color .5s;
}

tooltip {
    opacity: 0.9;
    background-color: @secondary_color;
    border: 1px solid @tertiary_color;
}

#workspaces {
    font-weight: bold;
    margin-left: 5px;
}

#window {
    margin: 0 9px;
}

#workspaces button {
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    color: @tertiary_color;
    margin: 4px 0 4px 6px;
    transition: color 200ms ease-in-out, background 200ms ease-in-out;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    margin: 4px 0 4px 6px;
    color: @secondary_color;
    background: @primary_color;
}

#workspaces button.active {
    color: @primary_color;
}

#workspaces button.active:hover {
    color: @secondary_color;
}

#workspaces button.urgent {
    animation: blink-accent 1s steps(10) infinite alternate;
}

#idle_inhibitor,
#bluetooth,
#network,
#pulseaudio,
#battery,
#custom-notification,
#privacy,
#custom-power {
    /* font-size: 16px; */
    transition: color 200ms ease-in-out;
    padding: 0 9px;
}

#clock {
    font-weight: bold;
    color: @text;
}

#idle_inhibitor.deactivated {
    color: @tertiary_color;
}

#tray-icons .drawer {
    padding: 0 9px;
}

#pulseaudio.input.source-muted {
    color: @tertiary_color;
}

#pulseaudio.output.muted {
    color: @tertiary_color;
}

#bluetooth.discoverable,
#bluetooth.discovering {
    animation: blink-accent 1s steps(10) infinite alternate;
}

#bluetooth.disabled {
    color: @tertiary_color;
}

#network.disconnected {
    color: @tertiary_color;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
    animation: blink-accent 1s steps(10) infinite alternate;
}

#privacy {
    color: @accent_color;
}

#custom-power {
    color: @powerbutton;
    margin-right: 9px;
}