:root {
    --notification-icon-size: 48px;
}


* {
    all: unset;
    font-family: JetBrainsMono Nerd Font Propo;
    transition: 0.3s;
    font-size: 1.2rem;
}

.blank-window {
    background: transparent;
}

.floating-notifications {
    margin-top: 100px;
}

.floating-notifications .notification-row {
    margin: 8px 24px 0 0;
}

.control-center .notification-row,
.control-center .notification-group {
    margin: 4px 0;
}

.notification {
    padding: 0.5rem;
    border-radius: 5px;
    color: #FFFFFF;
    background-color: alpha(#000000, 0.75);
    border: 2px solid #FFFFFF;
}

.control-center .notification {
    background-color: #000000;
    border: 2px solid alpha(#FFFFFF, 0.25);
}

.notification.critical {
    border: 2px solid alpha(#ff0000, 0.5);
}

.image {
    /* Notification Primary Image */
    -gtk-icon-effect: none;
    border-radius: 0.5rem;
    /* Size in px */
    margin: 4px;
}

.app-icon {
    /* Notification app icon (only visible when the primary image is set) */
    -gtk-icon-effect: none;
    -gtk-icon-shadow: 0 1px 4px black;
    margin: 6px;
}

.summary {
    margin: 0.5rem;
    color: #FFFFFF;
    font-weight: bold;
}

.body {
    margin: 0.5rem;
    color: #908caa;
}

.close-button {
    margin: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

.control-center {
    border-radius: 5px;
    margin: 8px;
    background-color: alpha(#000000, 0.75);
    color: #FFFFFF;
    padding: 1rem;
    border: 2px solid #FFFFFF;
}

.control-center .widget-title {
    color: #FFFFFF;
    font-weight: bold;
}

.control-center .widget-title button {
    border-radius: 0.5rem;
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid alpha(#FFFFFF, 0.25);
    padding: 0.5rem;
}

.control-center .widget-title button:hover {
    background-color: alpha(#FFFFFF, 0.1);
}

.control-center .widget-title button:active {
    background-color: alpha(#FFFFFF, 0.05);
}

.notification-group-buttons,
.notification-group-headers {
    margin: 1rem 1rem 0.5rem 1rem;
}

.time {
    margin: 0.5rem 2rem 0 0;
    color: #908caa;
}

.notification progress {
    background-color: #ffffff;
}

progressbar,
progress,
trough {
    border-radius: 0.5rem;
}

trough {
    background-color: #313244;
}

.control-center-dnd {
    margin: 1rem 0;
    border-radius: 0.5rem;
}

.control-center-dnd slider {
    background: #595959;
    border-radius: 0.5rem;
}

.widget-dnd {
    color: #908caa;
}

.widget-dnd>switch {
    border-radius: 0.5rem;
    background: #000000;
    border: 1px solid alpha(#FFFFFF, 0.25);
}

.widget-dnd>switch:checked slider {
    background: #FFFFFF;
}

.widget-dnd>switch slider {
    background: alpha(#FFFFFF, 0.25);
    border-radius: 0.5rem;
    margin: 0.25rem;
}