[Unit]
Description=Keyboard Battery Monitor
After=graphical-session.target

[Service]
Type=oneshot
ExecStart=%h/.local/share/dotfiles/bin/dot-cmd-keyboard-battery-monitor -t 20

LogLevelMax=warning