@define-color primary_color #FFFFFF;
@define-color secondary_color rgba(0, 0, 0, 0.85);
@define-color tertiary_color #595959;
@define-color accent_color #9ECE6A;
@define-color powerbutton #F38BA8;


@keyframes blink-accent {
    0% {
        color: inherit;
    }

    50% {
        color: @accent_color;
    }
}

window#waybar {
    font-family: 'JetBrainsMono Nerd Font Propo';
    font-weight: normal;
    font-size: 14px;
    color: @primary_color;
    background: @secondary_color;
    transition: background-color .5s;
}

tooltip {
    font-family: 'JetBrainsMono Nerd Font';
    background: #000000;
    border: 1px solid @tertiary_color;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 0 10px;
}

#workspaces {
    font-weight: bold;
    /* set color on button parent to make "color: inherit" work for the .urgent animation */
    color: @tertiary_color;
}

#workspaces button {
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    margin: 4px 1px;
    color: @tertiary_color;
    transition: color 200ms ease-in-out, background-color 200ms ease-in-out;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @secondary_color;
    background: @primary_color;
}

#workspaces button.active {
    color: @primary_color;
}

#workspaces button.active:hover {
    color: @secondary_color;
}

#workspaces button.urgent {
    animation: blink-accent 2s steps(2) infinite;
}

#window {
    margin: 0 10px 0 15px;
}

#clock {
    font-weight: bold;
}

#clock.date {
    margin-right: 8px;
}

#clock.time {
    margin-left: 8px;
}

#tray,
#idle_inhibitor,
#bluetooth,
#network,
#cpu,
#memory,
#pulseaudio,
#battery,
#custom-notification,
#privacy {
    margin: 0 10px;
    transition: color 200ms ease-in-out;
}

#idle_inhibitor.deactivated,
#bluetooth.disabled,
#network.disconnected,
#pulseaudio.input.source-muted,
#pulseaudio.output.muted {
    color: @tertiary_color;
}

#bluetooth.discoverable,
#bluetooth.discovering,
#battery.warning:not(.charging) {
    /* Using steps() instead of linear as a timing function to limit cpu usage */
    animation: blink-accent 2s steps(2) infinite;
}

#privacy {
    color: @accent_color;
}