@define-color primary_color #FFFFFF;
@define-color secondary_color rgba(0, 0, 0, 0.85);
@define-color tertiary_color #595959;
@define-color accent_color #9ECE6A;
@define-color powerbutton #F38BA8;


@keyframes blink-accent {
    0% {
        color: inherit;
    }

    50% {
        color: inherit;
    }

    100% {
        color: @accent_color;
    }
}

* {
    font-family: 'JetBrainsMono Nerd Font';
}

window#waybar {
    font-weight: normal;
    font-size: 14px;
    color: @primary_color;
    background-color: @secondary_color;
    transition: background-color .5s;
}

tooltip {
    background-color: #000000;
    border: 1px solid @tertiary_color;
}

#workspaces {
    margin: 0 10px;
    font-weight: bold;
    /* set color on button parent to make "color: inherit" work for the .urgent animation */
    color: @tertiary_color;
}

#workspaces button {
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    margin: 4px 2px 4px 0;
    color: @tertiary_color;
    transition: color 200ms ease-in-out, background 200ms ease-in-out;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    color: @secondary_color;
    background: @primary_color;
}

#workspaces button.active {
    color: @primary_color;
}

#workspaces button.active:hover {
    color: @secondary_color;
}

#workspaces button.urgent {
    animation: blink-accent 1s steps(10) infinite alternate;
}

#cpu,
#memory,
#idle_inhibitor,
#bluetooth,
#network,
#pulseaudio,
#battery,
#custom-notification,
#privacy {
    margin: 0 10px;
    transition: color 200ms ease-in-out;
}

/* attemt to nicely space out the icons */
#idle_inhibitor {
    padding-left: 2px;
    padding-right: 3px;
}

#bluetooth {
    padding-left: 1px;
    padding-right: 3px;
}

#network {
    padding-right: 5px;
}

#clock {
    /* prevent elements from touching the clock */
    margin: 0 10px;
    font-weight: bold;
}

#clock.date {
    margin-right: 7px;
}

#clock.time {
    margin-left: 7px;
}

#idle_inhibitor.deactivated {
    color: @tertiary_color;
}

#tray {
    margin-right: 10px;
}

#pulseaudio.input.source-muted {
    color: @tertiary_color;
}

#pulseaudio.output.muted {
    color: @tertiary_color;
}

#bluetooth.discoverable,
#bluetooth.discovering {
    animation: blink-accent 1s steps(10) infinite alternate;
}

#bluetooth.disabled {
    color: @tertiary_color;
}

#network.disconnected {
    color: @tertiary_color;
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.warning:not(.charging) {
    animation: blink-accent 1s steps(10) infinite alternate;
}

#custom-notification {
    padding-right: 2px;
    margin-right: 20px;
}

#privacy {
    margin-left: 0;
    margin-right: 20px;
    color: @accent_color;
}